{% extends 'basic.html' %}

{% block title %}Business,management,administration based jobs-ToolsandJobs {% endblock %}

{% block meta %}
    <meta name="og:title" property="og:title" content="Business,management,administration based jobs-Tools&Jobs">


    <link rel="canonical" href="{% url 'business' %}">

  <!-- this is meta desc -->
  <meta name="description" content="Here you will find Business,management,administration career based jobs in India. Here jobs like Accountants,Secretary,Marketing assistant,HR,Entrepreneur,Business development & more.">

  <!-- meta keywords -->
  <meta name="keywords" content="Toolsandjobs,jobs in India,online jobs,HR,management jobs,accountants secretary jobs,more
career in arts,">

  <!-- author -->
  <meta name="author" content="ToolsandJobs">
  {% endblock %}



{% block content2 %}
{% endblock %}

{% block content3 %}
{% endblock %}

{% block content1 %}
<br xmlns="http://www.w3.org/1999/html">
<div class="container">

<h3 style="color:orange;">The business, management & administration career field are the best for business minded
with strong liking in communicatios.</h3><br>
  <h3 >We have this type of position included below.</h3>
    <ul style="color:#FF5733;" class="list-group list-group-horizontal list-group-flush">
  <li class="list-group-item">Accountants</li>
  <li class="list-group-item">Secretary</li>
  <li class="list-group-item">Real estate agent</li>
  <li class="list-group-item">Marketing assistant</li>



</ul>
    <ul style="color:#FF5733;" class="list-group list-group-horizontal list-group-flush">
  <li class="list-group-item">Entrepreneur</li>
  <li class="list-group-item">Human resource</li>
    <li class="list-group-item">Business development</li>



</ul><br>
</div>


{% for i in busi %}

<div class="container">

<div class="accordion card" id="accordionExample" >
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
          <img src="{{i.photo6.url}}"  style="width:75px;height:75px;" class="card-img-top" alt="Tools&jobs-Business,management,administration career based jobs">

        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Read more
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body text-white bg-danger">
        <b style="font-size:20px;"> Job desc</b> <i class="fas fa-prescription-bottle fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.descr6|safe}}<br><hr color="black">
         <b style="font-size:20px;">Location</b> <i class="fas fa-map-marker-alt fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.loc6}}<br><hr color="black">
         <b style="font-size:20px;">Type</b> <i class="fas fa-industry fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.ind_type6}}<br><hr color="black">
         <b style="font-size:20px;">Educ/Eligi.</b> <i class="fas fa-university fa-2x"></i>:&nbsp;&nbsp;{{i.edu_or_elig6}}<br><hr color="black">
         <b style="font-size:20px;">Vaccancies</b> <i class="fab fa-vaadin fa-2x"></i>&nbsp; :&nbsp;&nbsp;{{i.vacc6}}<br><hr color="black">
         <b style="font-size:20px;">Functional area</b> <i class="fas fa-chart-area fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.func_area6}}<br><hr color="black">
         <b style="font-size:20px;">Role</b> <i class="fas fa-user-tag fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.role6}}<br><hr color="black">
         <b style="font-size:20px;">Skills</b> <i class="fas fa-code fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.skil6}}<br><hr color="black">
         <b style="font-size:20px;">Salary</b> <i class="fas fa-money-check-alt fa-2x"></i> &nbsp;:&nbsp;&nbsp;{{i.sal6}}<br><hr color="black">
         <b style="font-size:20px;">Experience</b> <i class="fas fa-briefcase fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.exper6}}<br><hr color="black">






      </div>
    </div>
  </div>
  <div class="card-body text-white bg-warning">
      <h5 class="card-title">{{i.head6}}</h5><hr color="white">
    <p class="card-text">{{i.desc6|safe}}</p>
    <a href="{{i.url6}}" class="btn btn-primary">Go there</a><hr>

       <!-- social share-->
      <i style="color:black;" class="far fa-share-square fa-2x">Share this:</i>
      <a href="https://api.whatsapp.com/send?text={{ request.get_host }}{% url 'jobs' %}search1/?query={{i.head6}}&submit=" data-action="share/whatsapp/share"><i style="color:#1BFF00;" class="fab fa-whatsapp-square fa-2x"></i></a>

      <script async src="https://telegram.org/js/telegram-widget.js?12" data-telegram-share-url="{{ request.get_host }}{% url 'jobs' %}search1/?query={{i.head6}}&submit=" data-comment="{{i.head6}}"></script>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}{% url 'jobs' %}search1/?query={{i.head6}}&submit=">
<i style="color:#0049FF;" class="fab fa-facebook-square fa-2x"></i></a>

      <a href="https://twitter.com/home?status={{i.head6}}%20{{ request.get_host }}{% url 'jobs' %}search1/?query={{i.head6}}&submit=">
        <i style="color:#00B9FF;" class="fab fa-twitter-square fa-2x"></i></a>

      <a href="https://plus.google.com/share?url={{ request.get_host }}{% url 'jobs' %}search1/?query={{i.head6}}&submit="><i style="color:#FF1300;" class="fab fa-google-plus-square fa-2x"></i></a>

      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.get_host }}{% url 'jobs' %}search1/?query={{i.head6}}&submit=&title={{i.head6}}&summary={{ i.desc6 }}&source={{ request.get_host }}">
<i style="color:#0800FF;" class="fab fa-linkedin fa-2x"></i></a>

      <a href="http://www.reddit.com/submit?url={{ request.get_host }}{% url 'jobs' %}search1/?query={{i.head6}}&submit=&title={{i.head6}}."><i style="color:#FF000C;" class="fab fa-reddit-square fa-2x"></i></a>


      <a data-pin-do="buttonBookmark" href="//www.pinterest.com/pin/create/button/"><img src="{{ i.photo6.url }}" /></a>

  </div>
  </div>


</div>
<br>
{% endfor %}




{% endblock %}
