{% extends 'basic.html' %}
{% block title %}Download our apk app for free to access all Tools&Jobs services{% endblock %}

{% block meta %}
    <meta name="og:title" property="og:title" content="Download our apk app for free to access all Tools&Jobs services">


    <link rel="canonical" href="{% url 'downloadapp' %}">

  <!-- this is meta desc -->
  <meta name="description" content="Download our apk app for free to access all ToolsandJobs services">


  <!-- author -->
  <meta name="author" content="ToolsandJobs">
{% endblock %}

{% block content2 %}
{% endblock %}

{% block content3 %}
{% endblock %}

{% block content1 %}{% load static %}

<div class="container">
    <h1 style="color:#FF5733;">
      Download our android apk app for free to access all ToolsandJobs services
    </h1><br>
    <img alt="Download our android apk app for free to access all ToolsandJobs services" style='height: 100%; width: 100%; object-fit: contain' src="{% static 'imgs/app_banner.png' %}">
    <br><br>
    <!-- adsense ad start -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fb+5w+4e-db+86"
     data-ad-client="ca-pub-5545425921972474"
     data-ad-slot="9881218087"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <!-- end ad-->
    <h2>
        <a href="/apks/toolsandjobs">Click here<img src="https://img.icons8.com/cute-clipart/64/000000/android.png"/></a> to download the android apk app
    </h2><br>
</div>
{% endblock %}