{% extends 'basic.html' %}

{% block title %}My jobs list - Toolsandjobs {% endblock %}

{% block meta %}
 <meta name="og:title" property="og:title" content="My jobs list - Toolsandjobs">


    <link rel="canonical" href="{% url 'jobs' %}">


  <!-- this is meta desc -->
  <meta name="description" content="Best platform to find your dream job is Tools&jobs site. Free job alerts via email for your jobs here.Job list contains Engineering,arts,govt,medical,educational,business & more. Jobseeker India & jobs">

  <!-- meta keywords -->
  <meta name="keywords" content="Toolsandjobs,job field list,jobseeker jobs,jobseeker india,free email alerts, free job alerts,jobs notification,& more,-Toolsandjobs ">

  <!-- author -->
  <meta name="author" content="ToolsandJobs">
{% endblock %}

{% block content2 %}
{% endblock %}

{% block content3 %}
{% endblock %}

{% block content1 %}


<br>


<div class="container">
    <center>


    <h1 style="color:#FF5733;">
    Choose your job field and click to view all
    </h1>
    </center><br>
    <div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card text-white bg-primary">
        {% load static %}
        <center>
      <img style="height:300px; width:430px;" src="{% static 'imgs/engineer-jobs-tools-plus-jobs.jpg' %}" class="card-img-top" alt="My jobs list - Toolsandjobs"></center>
      <div class="card-body">
        <h5 class="card-title">Click to view all engineering jobs</h5>
          <a href="{% url 'engineering' %}" class="btn btn-success"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cast" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.646 9.354l-3.792 3.792a.5.5 0 0 0 .353.854h7.586a.5.5 0 0 0 .354-.854L8.354 9.354a.5.5 0 0 0-.708 0z"/>
  <path d="M11.414 11H14.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5h-13a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h3.086l-1 1H1.5A1.5 1.5 0 0 1 0 10.5v-7A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v7a1.5 1.5 0 0 1-1.5 1.5h-2.086l-1-1z"/>
</svg>  Go There
          </a>
      </div>
    </div>
  </div>


  <div class="col mb-4">
    <div class="card text-white bg-secondary"><center>
        <img style="height:300px; width:430px;" src="{% static 'imgs/business-jobs-tools-plus-jobs.jpg' %}" class="card-img-top" alt="My jobs list - Toolsandjobs"></center>
      <div class="card-body">
        <h5 class="card-title">Click to view all business, management & administration jobs</h5>
                <a href="{% url 'business' %}" class="btn btn-info">Go There
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-aspect-ratio" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5v-9zM1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
  <path fill-rule="evenodd" d="M2 4.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H3v2.5a.5.5 0 0 1-1 0v-3zm12 7a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H13V8.5a.5.5 0 0 1 1 0v3z"/>
                </svg>
                </a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-white bg-success"><center>
        <img style="height:300px; width:430px;" src="{% static 'imgs/sales-jobs-tools-plus-jobs.jpg' %}" class="card-img-top" alt="My jobs list - Toolsandjobs"></center>
      <div class="card-body">
        <h5 class="card-title">Click to view all sales jobs</h5>
                <a href="{% url 'sales' %}" class="btn btn-info">Go There
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-aspect-ratio" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5v-9zM1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
  <path fill-rule="evenodd" d="M2 4.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H3v2.5a.5.5 0 0 1-1 0v-3zm12 7a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H13V8.5a.5.5 0 0 1 1 0v3z"/>
                </svg>
                </a>      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-white bg-secondary"><center>
        <img style="height:300px; width:430px;" src="{% static 'imgs/communication-jobs-tools-plus-jobs.jpg' %}" class="card-img-top" alt="My jobs list - Toolsandjobs"></center>
      <div class="card-body">
        <h5 class="card-title">Click to view all communications jobs</h5>
                <a href="{% url 'communication' %}" class="btn btn-info">Go There
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-aspect-ratio" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5v-9zM1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
  <path fill-rule="evenodd" d="M2 4.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H3v2.5a.5.5 0 0 1-1 0v-3zm12 7a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H13V8.5a.5.5 0 0 1 1 0v3z"/>
                </svg>
                </a>      </div>
    </div>
  </div>
</div>
</div>
    </div>
</div>
{% endblock %}