{% load static %}
<img width="400" height="76" src="https://drive.google.com/file/d/12Wz6MivAmbh68Ne8QepsvTFa5chAvow3/view?usp=sharing">
<h2>
    You just subscribe to
    <a href="https://toolsandjobs.info/"> ToolsPlusJobs</a>
    for free.
</h2><hr>

<p>
    Thank you for filling this form of free alerts Dear, {{sign.first_name}} {{sign.last_name}}.
    To get daily job offers, free courses, tools and more join our Telegram group for free
    <strong><a href="https://t.me/toolsjobs"> click here</a></strong><hr>

or you can join our WhatsApp group by <strong><a href="https://bit.ly/3kJC55b">clicking here</a> </strong><hr>

</p>
<h2>
    You can now share this group and join your friends <a href="https://t.me/toolsjobs">click</a>
    So kindely check our website daily for updates related to jobs, courses and more.
</h2>
