{% extends 'basic.html' %}

{% block title %}Medical jobs - ToolsandJobs {% endblock %}

{% block meta %}
      <meta name="og:title" property="og:title" content="Medical jobs - ToolsandJobs">


    <link rel="canonical" href="{% url 'medical' %}">

  <!-- this is meta desc -->
  <meta name="description" content="Best platform to get your medical jobs with free alerts. Here you can find all the medical field jobs in India for freshers also. Govt medical jobs 2020 alerts.">

  <!-- meta keywords -->
  <meta name="keywords" content="Toolsandjobs,medical jobs, free medical jobs alerts,alerts via emails,medical jobs in India,medical jobs in govt,medical jobs 2020,& more,">

  <!-- author -->
  <meta name="author" content="ToolsandJobs">
{% endblock %}

{% block content2 %}
{% endblock %}

{% block content3 %}
{% endblock %}

{% block content1 %}
<br xmlns="http://www.w3.org/1999/html">
<div class="container">

<h3 style="color:#FF5733;">It is the field where you get the medical jobs in the Hospitals.</h3><br>
<!--    <h3 style="color:red;">We have this type of position included below.</h3>
    <ul class="list-group list-group-horizontal list-group-flush">
  <li class="list-group-item">Lobbyist</li>
  <li class="list-group-item">Lawyer</li>
  <li class="list-group-item">Paralegal</li>


</ul>
    <ul class="list-group list-group-horizontal list-group-flush">
  <li class="list-group-item">Public administrator</li>
      <li class="list-group-item">Labor relations specialist</li>


</ul>--><br>
</div>


{% for i in medi %}

<div class="container">

<div class="accordion card" id="accordionExample" >
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
          <img src="{{i.photo1.url}}"  style="width:75px;height:75px;" class="card-img-top" alt="Medical jobs - ToolsandJobs">

        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Read more
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body text-white bg-danger">
        <b style="font-size:20px;"> Job desc</b> <i class="fas fa-prescription-bottle fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.descr1|safe}}<br><hr color="black">
         <b style="font-size:20px;">Location</b> <i class="fas fa-map-marker-alt fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.loc1}}<br><hr color="black">
         <b style="font-size:20px;">Type</b> <i class="fas fa-industry fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.ind_type1}}<br><hr color="black">
         <b style="font-size:20px;">Educ/Eligi.</b> <i class="fas fa-university fa-2x"></i>:&nbsp;&nbsp;{{i.edu_or_elig1}}<br><hr color="black">
         <b style="font-size:20px;">Vaccancies</b> <i class="fab fa-vaadin fa-2x"></i>&nbsp; :&nbsp;&nbsp;{{i.vacc1}}<br><hr color="black">
         <b style="font-size:20px;">Functional area</b> <i class="fas fa-chart-area fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.func_area1}}<br><hr color="black">
         <b style="font-size:20px;">Role</b> <i class="fas fa-user-tag fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.role1}}<br><hr color="black">
         <b style="font-size:20px;">Skills</b> <i class="fas fa-code fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.skil1}}<br><hr color="black">
         <b style="font-size:20px;">Salary</b> <i class="fas fa-money-check-alt fa-2x"></i> &nbsp;:&nbsp;&nbsp;{{i.sal1}}<br><hr color="black">
         <b style="font-size:20px;">Experience</b> <i class="fas fa-briefcase fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.exper1}}<br><hr color="black">






      </div>
    </div>
  </div>
  <div class="card-body text-white bg-warning">
      <h5 class="card-title">{{i.head1}}</h5><hr color="white">
    <p class="card-text">{{i.desc1|safe}}</p>
    <a href="{{i.url1}}" class="btn btn-primary">Go there</a><hr>

      <!-- social share-->
      <i style="color:black;" class="far fa-share-square fa-2x">Share this:</i>
      <a href="https://api.whatsapp.com/send?text={{ request.get_host }}{% url 'jobs' %}search1/?query={{i.head1}}&submit=" data-action="share/whatsapp/share"><i style="color:#1BFF00;" class="fab fa-whatsapp-square fa-2x"></i></a>

       <script async src="https://telegram.org/js/telegram-widget.js?12" data-telegram-share-url="{{ request.get_host }}{% url 'jobs' %}search1/?query={{i.head1}}&submit=" data-comment="{{i.head1}}"></script>


      <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}{% url 'jobs' %}search1/?query={{i.head1}}&submit=">
<i style="color:#0049FF;" class="fab fa-facebook-square fa-2x"></i></a>

      <a href="https://twitter.com/home?status={{i.head1}}%20{{ request.get_host }}{% url 'jobs' %}search1/?query={{i.head1}}&submit=">
        <i style="color:#00B9FF;" class="fab fa-twitter-square fa-2x"></i></a>

      <a href="https://plus.google.com/share?url={{ request.get_host }}{% url 'jobs' %}search1/?query={{i.head1}}&submit="><i style="color:#FF1300;" class="fab fa-google-plus-square fa-2x"></i></a>

      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.get_host }}{% url 'jobs' %}search1/?query={{i.head1}}&submit=&title={{i.head1}}&summary={{i.head1}}&source={{ request.get_host }}">
<i style="color:#0800FF;" class="fab fa-linkedin fa-2x"></i></a>

      <a href="http://www.reddit.com/submit?url={{ request.get_host }}{% url 'jobs' %}search1/?query={{i.head1}}&submit=&title={{i.head1}}."><i style="color:#FF000C;" class="fab fa-reddit-square fa-2x"></i></a>


      <a data-pin-do="buttonBookmark" href="//www.pinterest.com/pin/create/button/"><img src="{{ i.photo1.url }}" /></a>

  </div>
  </div>


</div>

{% endfor %}




{% endblock %}
