{% extends 'basic.html' %}

{% block title %}Search - toolsandjobs{% endblock %}


{% block content2 %}
{% endblock %}

{% block content3 %}
{% endblock %}


{% block content1 %}
<br>

<div class="container">


    <h3 style="color:#FF5733;">Search results for: "{{query}}"</h3>


   {% if engineer|length < 1 %}
    {% if busi|length < 1 %}
    {% if sal|length < 1 %}
    {% if com|length < 1 %}
    <p>No search results</p>
    <p>Your search query: "{{query}}"did not match any documents</p><br>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    </div>
<br>
{% for i in engineer %}

<div class="container">

<div class="accordion card" >
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
          <img src="{{i.photo.url}}"  style="width:75px;height:75px;" class="card-img-top" alt="Search - toolsandjobs">

        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Read more
        </button>
      </h2>
    </div>

    <div  class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body text-white bg-danger">
        <b style="font-size:20px;"> Job desc</b> <i class="fas fa-prescription-bottle fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.descr|safe}}<br><hr color="black">
         <b style="font-size:20px;">Location</b> <i class="fas fa-map-marker-alt fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.loc}}<br><hr color="black">
         <b style="font-size:20px;">Type</b> <i class="fas fa-industry fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.ind_type}}<br><hr color="black">
         <b style="font-size:20px;">Educ/Eligi.</b> <i class="fas fa-university fa-2x"></i>:&nbsp;&nbsp;{{i.edu_or_elig}}<br><hr color="black">
         <b style="font-size:20px;">Vaccancies</b> <i class="fab fa-vaadin fa-2x"></i>&nbsp; :&nbsp;&nbsp;{{i.vacc}}<br><hr color="black">
         <b style="font-size:20px;">Functional area</b> <i class="fas fa-chart-area fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.func_area}}<br><hr color="black">
         <b style="font-size:20px;">Role</b> <i class="fas fa-user-tag fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.role}}<br><hr color="black">
         <b style="font-size:20px;">Skills</b> <i class="fas fa-code fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.skil}}<br><hr color="black">
         <b style="font-size:20px;">Salary</b> <i class="fas fa-money-check-alt fa-2x"></i> &nbsp;:&nbsp;&nbsp;{{i.sal}}<br><hr color="black">
         <b style="font-size:20px;">Experience</b> <i class="fas fa-briefcase fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.exper}}<br><hr color="black">






      </div>
    </div>
  </div>
  <div class="card-body text-white bg-warning">
      <h5 class="card-title">{{i.head}}</h5><hr color="white">
    <p class="card-text">{{i.desc|safe}}</p>
    <a href="{{i.url}}" class="btn btn-primary">Go there</a><hr>

      <!-- social share-->
      <i style="color:black;" class="far fa-share-square fa-2x">Share this:</i>
      <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" data-action="share/whatsapp/share"><i style="color:#1BFF00;" class="fab fa-whatsapp-square fa-2x"></i></a>


      <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
<i style="color:#0049FF;" class="fab fa-facebook-square fa-2x"></i></a>

      <a href="https://twitter.com/home?status={{i.head}}%20{{ request.build_absolute_uri }}">
        <i style="color:#00B9FF;" class="fab fa-twitter-square fa-2x"></i></a>

      <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'><i style="color:#FF1300;" class="fab fa-google-plus-square fa-2x"></i></a>

      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{i.head}}&summary={{i.head}}&source={{ request.get_host }}">
<i style="color:#0800FF;" class="fab fa-linkedin fa-2x"></i></a>

      <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{i.head}}."><i style="color:#FF000C;" class="fab fa-reddit-square fa-2x"></i></a>


      <a data-pin-do="buttonBookmark" href="//www.pinterest.com/pin/create/button/"><img src="{{ i.photo.url }}" /></a>

  </div>
  </div>
</div>

{% endfor %}


{% for i in busi %}

<div class="container">

<div class="accordion card" id="accordionExample" >
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
          <img src="{{i.photo.url6}}"  style="width:75px;height:75px;" class="card-img-top" alt="Search - toolsandjobs">

        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Read more
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body text-white bg-danger">
        <b style="font-size:20px;"> Job desc</b> <i class="fas fa-prescription-bottle fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.descr6|safe}}<br><hr color="black">
         <b style="font-size:20px;">Location</b> <i class="fas fa-map-marker-alt fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.loc6}}<br><hr color="black">
         <b style="font-size:20px;">Type</b> <i class="fas fa-industry fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.ind_type6}}<br><hr color="black">
         <b style="font-size:20px;">Educ/Eligi.</b> <i class="fas fa-university fa-2x"></i>:&nbsp;&nbsp;{{i.edu_or_elig6}}<br><hr color="black">
         <b style="font-size:20px;">Vaccancies</b> <i class="fab fa-vaadin fa-2x"></i>&nbsp; :&nbsp;&nbsp;{{i.vacc6}}<br><hr color="black">
         <b style="font-size:20px;">Functional area</b> <i class="fas fa-chart-area fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.func_area6}}<br><hr color="black">
         <b style="font-size:20px;">Role</b> <i class="fas fa-user-tag fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.role6}}<br><hr color="black">
         <b style="font-size:20px;">Skills</b> <i class="fas fa-code fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.skil6}}<br><hr color="black">
         <b style="font-size:20px;">Salary</b> <i class="fas fa-money-check-alt fa-2x"></i> &nbsp;:&nbsp;&nbsp;{{i.sal6}}<br><hr color="black">
         <b style="font-size:20px;">Experience</b> <i class="fas fa-briefcase fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.exper6}}<br><hr color="black">






      </div>
    </div>
  </div>
  <div class="card-body text-white bg-warning">
      <h5 class="card-title">{{i.head6|safe}}</h5><hr color="white">
    <p class="card-text">{{i.desc6}}</p>
    <a href="{{i.url6}}" class="btn btn-primary">Go there</a><hr>

       <!-- social share-->
      <i style="color:black;" class="far fa-share-square fa-2x">Share this:</i>
      <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" data-action="share/whatsapp/share"><i style="color:#1BFF00;" class="fab fa-whatsapp-square fa-2x"></i></a>


      <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
<i style="color:#0049FF;" class="fab fa-facebook-square fa-2x"></i></a>

      <a href="https://twitter.com/home?status={{i.head6}}%20{{ request.build_absolute_uri }}">
        <i style="color:#00B9FF;" class="fab fa-twitter-square fa-2x"></i></a>

      <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'><i style="color:#FF1300;" class="fab fa-google-plus-square fa-2x"></i></a>

      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{i.head6}}&summary={{ i.desc6 }}&source={{ request.get_host }}">
<i style="color:#0800FF;" class="fab fa-linkedin fa-2x"></i></a>

      <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{i.head6}}."><i style="color:#FF000C;" class="fab fa-reddit-square fa-2x"></i></a>


      <a data-pin-do="buttonBookmark" href="//www.pinterest.com/pin/create/button/"><img src="{{ i.photo6.url }}" /></a>

  </div>
  </div>


</div>

{% endfor %}


{% for i in sal %}

<div class="container">

<div class="accordion card" id="accordionExample" >
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
          <img src="{{i.photo8.url}}"  style="width:75px;height:75px;" class="card-img-top" alt="Search - toolsandjobs">

        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Read more
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body text-white bg-danger">
        <b style="font-size:20px;"> Job desc</b> <i class="fas fa-prescription-bottle fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.descr8|safe}}<br><hr color="black">
         <b style="font-size:20px;">Location</b> <i class="fas fa-map-marker-alt fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.loc8}}<br><hr color="black">
         <b style="font-size:20px;">Type</b> <i class="fas fa-industry fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.ind_type8}}<br><hr color="black">
         <b style="font-size:20px;">Educ/Eligi.</b> <i class="fas fa-university fa-2x"></i>:&nbsp;&nbsp;{{i.edu_or_elig8}}<br><hr color="black">
         <b style="font-size:20px;">Vaccancies</b> <i class="fab fa-vaadin fa-2x"></i>&nbsp; :&nbsp;&nbsp;{{i.vacc8}}<br><hr color="black">
         <b style="font-size:20px;">Functional area</b> <i class="fas fa-chart-area fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.func_area8}}<br><hr color="black">
         <b style="font-size:20px;">Role</b> <i class="fas fa-user-tag fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.role8}}<br><hr color="black">
         <b style="font-size:20px;">Skills</b> <i class="fas fa-code fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.skil8}}<br><hr color="black">
         <b style="font-size:20px;">Salary</b> <i class="fas fa-money-check-alt fa-2x"></i> &nbsp;:&nbsp;&nbsp;{{i.sal8}}<br><hr color="black">
         <b style="font-size:20px;">Experience</b> <i class="fas fa-briefcase fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.exper8}}<br><hr color="black">






      </div>
    </div>
  </div>
  <div class="card-body text-white bg-warning">
      <h5 class="card-title">{{i.head8}}</h5><hr color="white">
    <p class="card-text">{{i.desc8|safe}}</p>
    <a href="{{i.url8}}" class="btn btn-primary">Go there</a><hr>

      <!-- social share-->
      <i style="color:black;" class="far fa-share-square fa-2x">Share this:</i>
      <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" data-action="share/whatsapp/share"><i style="color:#1BFF00;" class="fab fa-whatsapp-square fa-2x"></i></a>


      <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
<i style="color:#0049FF;" class="fab fa-facebook-square fa-2x"></i></a>

      <a href="https://twitter.com/home?status={{i.head8}}%20{{ request.build_absolute_uri }}">
        <i style="color:#00B9FF;" class="fab fa-twitter-square fa-2x"></i></a>

      <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'><i style="color:#FF1300;" class="fab fa-google-plus-square fa-2x"></i></a>

      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{i.head8}}&summary={{i.head8}}&source={{ request.get_host }}">
<i style="color:#0800FF;" class="fab fa-linkedin fa-2x"></i></a>

      <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{i.head8}}."><i style="color:#FF000C;" class="fab fa-reddit-square fa-2x"></i></a>


      <a data-pin-do="buttonBookmark" href="//www.pinterest.com/pin/create/button/"><img src="{{ i.photo8.url }}" /></a>

  </div>
  </div>


</div>

{% endfor %}


{% for i in com %}

<div class="container">

<div class="accordion card" id="accordionExample" >
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
          <img src="{{i.photo9.url}}"  style="width:75px;height:75px;" class="card-img-top" alt="Search - toolsandjobs">

        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Read more
        </button>
      </h2>

    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body text-white bg-danger">
        <b style="font-size:20px;"> Job desc</b> <i class="fas fa-prescription-bottle fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.descr9|safe}}<br><hr color="black">
         <b style="font-size:20px;">Location</b> <i class="fas fa-map-marker-alt fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.loc9}}<br><hr color="black">
         <b style="font-size:20px;">Type</b> <i class="fas fa-industry fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.ind_type9}}<br><hr color="black">
         <b style="font-size:20px;">Educ/Eligi.</b> <i class="fas fa-university fa-2x"></i>:&nbsp;&nbsp;{{i.edu_or_elig9}}<br><hr color="black">
         <b style="font-size:20px;">Vaccancies</b> <i class="fab fa-vaadin fa-2x"></i>&nbsp; :&nbsp;&nbsp;{{i.vacc9}}<br><hr color="black">
         <b style="font-size:20px;">Functional area</b> <i class="fas fa-chart-area fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.func_area9}}<br><hr color="black">
         <b style="font-size:20px;">Role</b> <i class="fas fa-user-tag fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.role9}}<br><hr color="black">
         <b style="font-size:20px;">Skills</b> <i class="fas fa-code fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.skil9}}<br><hr color="black">
         <b style="font-size:20px;">Salary</b> <i class="fas fa-money-check-alt fa-2x"></i> &nbsp;:&nbsp;&nbsp;{{i.sal9}}<br><hr color="black">
         <b style="font-size:20px;">Experience</b> <i class="fas fa-briefcase fa-2x"></i>&nbsp;:&nbsp;&nbsp;{{i.exper9}}<br><hr color="black">






      </div>
    </div>
  </div>
  <div class="card-body text-white bg-warning">
      <h5 class="card-title">{{i.head9}}</h5><hr color="white">
    <p class="card-text">{{i.desc9|safe}}</p>
    <a href="{{i.url9}}" class="btn btn-primary">Go there</a><hr>
      <!-- social share-->
      <i style="color:black;" class="far fa-share-square fa-2x">Share this:</i>
      <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" data-action="share/whatsapp/share"><i style="color:#1BFF00;" class="fab fa-whatsapp-square fa-2x"></i></a>


      <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
<i style="color:#0049FF;" class="fab fa-facebook-square fa-2x"></i></a>

      <a href="https://twitter.com/home?status={{i.head9}}%20{{ request.build_absolute_uri }}">
        <i style="color:#00B9FF;" class="fab fa-twitter-square fa-2x"></i></a>

      <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'><i style="color:#FF1300;" class="fab fa-google-plus-square fa-2x"></i></a>

      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{i.head9}}&summary={{ i.desc9 }}&source={{ request.get_host }}">
<i style="color:#0800FF;" class="fab fa-linkedin fa-2x"></i></a>

      <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{i.head9}}."><i style="color:#FF000C;" class="fab fa-reddit-square fa-2x"></i></a>


      <a data-pin-do="buttonBookmark" href="//www.pinterest.com/pin/create/button/"><img src="{{ i.photo9.url }}" /></a>

  </div>
  </div>


</div>

{% endfor %}


{% endblock %}